/Hmwk/Assignment_6/dist/
/Class/FINAL/Q4/build/
/Class/FINAL/Q4/dist/
/Hmwk/Assignment/Q2_ProductTable/build/
/Hmwk/Assignment/Q2_ProductTable/dist/
/Hmwk/Assignment/Q3_ReverseArrayContents/build/
/Hmwk/Assignment/Q3_ReverseArrayContents/dist/
/Hmwk/Assignment/Q5_GradingLikeAScantron/build/
/Class/FINAL/Q1/dist/
/Class/FINAL/Q1/build/
/Class/FINAL/Q5/build/
/Class/FINAL/Q5/dist/
/Hmwk/Assignment_4/build/
/Hmwk/Assignment_4/dist/
/Proj/Project_2/project_2.4/build/
/Proj/Project_2/project_2.4/dist/
